*{
    
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    max-width:1200px
}
.padre{
   display: flex;
   flex-flow: column nowrap;
}
.header{

    background: #000 ;
    display: flex;
    flex-flow: column nowrap;
    .menu{
        background: #696FC7 ;
        display: flex;
        flex-flow: row nowrap;
        height: 100px;
        align-items: center;
    }
    .logo{
        background: #F5D3C4 ;
        flex: 1 1 auto;
        height: 30px;
        display: flex;
        align-items: center;
        
    }
    .nav{
        background: #F5D3C4;
        flex: 5 1 auto;
        height: 30px;
        display: flex;
        align-items: center;
    }
    .social{
        background: #F5D3C4;
        flex: 1 1 auto;
        height: 30px;
        display: flex;
        align-items: center;
    }
    .texto-principal{
        background: #A7AAE1;
    }
       h1{
        background: #F5D3C4;
       }
}
.section{
    background: #000;
    display: flex;
}
.articulos{
    background: #134686;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
     .article{
        background: #ED3F27;
        flex: 1 1 40%;
     }
     .navegacion{
        background: #FEB21A;
        flex: 1 1 100%;
     }
     .aside{
        background: #FDF4E3;
        flex: 1 1 auto;
     }
       .publicidad{
        background: #8D5F8C;
             
        
       }
.footer{
    background: #000;

    
}
  .pie{
    background: #636CCB;
    display: flex;
    align-items: center;
   
  }
